<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            @import url(https://fonts.googleapis.com/css?family=Noto+Sans);
            body {
              font-family: 'Noto Sans', sans-serif;
              font-size: 20px;
              -webkit-font-smoothing: antialiased;
              text-rendering: optimizeLegibility;
              color: #222;
              background-color: #fff;
             }
             p {font-size: 24px;}
        </style>
        <meta charset="utf-8">
        <title>Bokeh Scope</title>
        {{ bokeh_css }}
        {{ bokeh_js }}
    </head>
    <body>
        {{ plot_div|indent(8) }}
        {{ plot_script|indent(8) }}
    </body>
</html>
